#content ol, #content ul 
{ 
  padding-left: 3ex; 
} 

#content table
{
  border-collapse: collapse;
}

#content table th
{
  background: #DDDDDD;
}

#content table th, #content table td
{
  border: 1px solid #000000;
  padding: 0.6ex;
}

table.mirrors
{
  margin: 1ex 0;
  width: 98%
}

.products th, .products td
{
  width: 10ex; 
}

