# List of the dependencies for the mirrormanager flask server

email_validator
flask
flask-admin
flask-xml-rpc-re
flask-wtf
wtforms
email_validator
SQLAlchemy>=0.7
python-fedora
flask-oidc
IPy
dnspython
protobuf
munch
authlib
