# List of the dependencies for the mirrormanager flask server

email_validator
flask
flask-admin
flask-xml-rpc-re
flask-wtf
wtforms
SQLAlchemy>=0.7
flask-oidc
IPy
dnspython
protobuf
munch
authlib
backoff
fedora-messaging
