# List of the dependencies for the mirrormanager flask server

email_validator
flask
flask-admin
flask-xml-rpc-re
flask-wtf
wtforms
SQLAlchemy>=0.7
flask-oidc>=2.0.0
IPy
dnspython
protobuf
munch
backoff
fedora-messaging
