/*
 * Mirrormanager2 specific CSS
 */
input {
    font-size: 100%;
}

textarea {
    font-size: 100%;
}

button {
    font-size: 100%;
}

select {
    font-size: 100%;
}

.inline {
    display: inline;
}

/* Stealed this from flask-admin */
form.icon button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    line-height: normal;
    padding: 0;
    text-decoration: none;
}

/* Stealed this from bootstrap */
label, select, button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}

.blue {
    color:#0066CC;
}

#matrixtitle {
    background-color: #2963A6;
    color: #FFFFFF;
    text-align: center;
}

#matrixheadings, #matrixheadings th {
    background-color: #DDDDDD;
    border-bottom: 1px solid #BBBBBB;
    margin: 0;
    color: #333333;
    text-align: center;
}

.matrix_section, .matrix_section td {
    border-bottom: 1px solid #BBBBBB !important;
}

.matrix_even, .matrix_even td {
    background-color: #F0F0F0;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bodycontent{min-height:600px}
