[global]

# If the following config options are not set, the default Fedora
# values are used. This is an example how it would be set for rpmfusion
#mirrormanager.projectname = "RPMFUSION"
#mirrormanager.projectweb = "http://rpmfusion.org"
#mirrormanager.cssroot = "https://lisas.de/mirrormanager/static/css/"
#mirrormanager.copyright = "rpmfusion"
#mirrormanager.max_ipv4_netblock_size = '/16'
#mirrormanager.max_ipv6_netblock_size = '/32'
#mirrormanager.report_problems_to_email = 'mirror-admin at fedoraproject.org'
#mirrormanager.project_template = 'rpmfusion'
# Account System group that manages this mirrormanager instance.
# members in this group can override some checks, and can see content
# that people not in this group cannot.
#mirrormanager.admin_group = 'sysadmin'
# maximum number of days a mirror may be stale (correct, but
# out-of-date content), before being removed from the mirrorlist.
#mirrormanager.max_stale_days = 3
# maximum number of days a mirror can take to get new files, before
# being removed from the mirrorlist.  This should be less than
# max_stale_days.
#mirrormanager.max_propogation_days = 2

# update-master-directory-list upstream definition
# a dictionary in a list with following content
# [{ 'type':'type (rsync, or directory)',
#    'url':'rsync URL or directory path',
#    'category':'category name',
#    'options':'extra rsync options' }]
# remember to end URLs with a slash!
# type=directory 'excludes' is a regular expression.
umdl.master_directories = ''' [
 	{ 'type':'directory', 'path':'/pub/epel/', 'category':'Fedora EPEL' },
	{ 'type':'directory', 'path':'/pub/fedora/linux/', 'category':'Fedora Linux'},
	{ 'type':'directory', 'path':'/pub/fedora-secondary/', 'category':'Fedora Secondary Arches' },
	{ 'type':'directory', 'path':'/pub/archive/', 'category':'Fedora Archive'},
	{ 'type':'directory', 'path':'/pub/alt/','category':'Fedora Other' },
#	{ 'type':'directory', 'path':'/pub/fedora/linux/',
#		'category':'Fedora Linux', 'excludes':['.*/core/?.*', '.*/extras/?.*', '.*/[7-8]/?.*' ] },
#	{ 'type':'rsync', 'url':'rsync://archive.ubuntu.com/ubuntu/',	     
#               'category':'Ubuntu Archive' },
#        { 'type':'rsync', 'url':'rsync://releases.ubuntu.com/releases/',
#               'category':'Ubuntu CD Images' },
#        { 'type':'rsync', 'url':'rsync://ports.ubuntu.com/ubuntu-ports/',
#               'category':'Ubuntu Ports Archive' },
#        { 'type':'rsync', 'url':'rsync://security.ubuntu.com/ubuntu/',
#               'category':'Ubuntu Security Archive' },
	] '''

# manage-repo-redirects (mrr) repository definition
# this can be used to define a repository redirect
# for example from an upcoming release to the current development tree
mrr.repos = ''' {
	'fedora-%s':'rawhide',
	'fedora-debug-%s':'rawhide-debug',
	'fedora-source-%s':'rawhide-source',
	'updates-released-f%s':'rawhide',
	'updates-released-debug-f%s':'rawhide-debug',
	'updates-released-source-f%s':'rawhide-source',
	'updates-testing-f%s':'rawhide',
	'updates-testing-debug-f%s':'rawhide-debug',
	'updates-testing-source-f%s':'rawhide-source'
	} '''

mail.on = True
mail.transport = 'smtp'
mail.smtp.server = 'localhost'
mail.smtp.debug = True
mail.utf8qp.on = True
	
crawler.mail_from = 'mirror-admin@example.com'
crawler.admin_mail_to = 'mirror-admin@example.com'
crawler.smtp_host = 'localhost'
crawler.smtp_port = 25
crawler.logdir = 'https://admin.example.com/mirrormanager/crawler'

# This is where all of your settings go for your development environment
# Settings that are the same for both development and production
# (such as template engine, encodings, etc.) all go in 
# mirrormanager/config/app.cfg

# DATABASE

# pick the form for your database
# sqlobject.dburi="postgres://username@hostname/databasename"
# sqlobject.dburi="mysql://username:password@hostname:port/databasename"
# sqlobject.dburi="sqlite:///file_name_and_path"

# If you have sqlite, here's a simple default to get you started
# in development
#sqlobject.dburi="postgres://mirrormanager@127.0.0.1/mirrormanager"

# For a working version with postgres it seems to be also necessary
# to specify notrans:
#sqlobject.dburi="notrans_postgres://mirrormanager@127.0.0.1/mirrormanager"

# This is for local development purposes.  It won't be used for
# production.
#sqlobject.dburi="notrans_sqlite:///var/lib/mirrormanager/mirrormanager.sqlite"
sqlobject.dburi="notrans_postgres://postgres@127.0.0.1/mirrormanager"

# if you are using a database or table type without transactions
# (MySQL default, for example), you should turn off transactions
# by prepending notrans_ on the uri
# sqlobject.dburi="notrans_mysql://username:password@hostname:port/databasename"

# for Windows users, sqlite URIs look like:
# sqlobject.dburi="sqlite:///drive_letter:/path/to/file"

# Note: If you are using a database on another server, over a network socket,
#       and selinux is enabled, you will need to run:
#       sudo setsebool -P httpd_can_network_connect_db 1

# SERVER

# Some server parameters that you may want to tweak
# server.socket_port=8080
server.webpath='/mirrormanager'

# Enable the debug output at the end on pages.
log_debug_info_filter.on = True

server.environment="development"
autoreload.package="mirrormanager"

# session_filter.on = True

# Set to True if you'd like to abort execution if a controller gets an
# unexpected parameter. False by default
tg.strict_parameters = True

############################################
# for non-Fedora Account System
identity.provider = 'sqlobjectcsrf'
identity.soprovider.model.user="mirrormanager.model.User"
identity.soprovider.model.group="mirrormanager.model.Group"
identity.soprovider.model.permission="mirrormanager.model.Permission"
visit.manager="sqlobject"
visit.soprovider.model = "mirrormanager.model.Visit"


# LOGGING
# Logging configuration generally follows the style of the standard
# Python logging module configuration. Note that when specifying
# log format messages, you need to use *() for formatting variables.
# Deployment independent log configuration is in mirrormanager/config/log.cfg
[logging]

[[loggers]]
[[[mirrormanager]]]
level='DEBUG'
qualname='mirrormanager'
handlers=['debug_out']

[[[allinfo]]]
level='INFO'
handlers=['debug_out']

[[[access]]]
level='INFO'
qualname='turbogears.access'
handlers=['access_out']
propagate=0
