[global]

# 
# This file is intentionally leaves out some comments to limit confusion.  
# Please see the prod.cfg.example included with this package for a fully 
# commented version.
# 
mirrormanager.projectname = "Example Mirror Manager Project"
mirrormanager.projectweb = "http://localhost"
mirrormanager.cssroot = "http://localhost/mirrormanager/static/css/"
mirrormanager.copyright = "example"
mirrormanager.project_template = "fedora"

# Update-master-directory-list upstream definition
# a dictionary in a list with following content
# [{ 'type':'type (rsync or file)',
#    'url':'rsync URL or file path',
#    'category':'category name',
#    'options':'extra rsync options' }]
# remember to end URLs with a slash!
# type=directory 'excludes' is a regular expression.
umdl.master_directories = ''' [
#       { 'type':'file', 'url':'/tmp/fedora-linux-core.txt', 'category':'Fedora Core' },
#       { 'type':'file', 'url':'/tmp/fedora-linux-extras.txt', 'category':'Fedora Extras' },
#       { 'type':'rsync', 'url':'/pub/epel/', 'category':'Fedora EPEL' },
#       { 'type':'rsync', 'url':'/pub/fedora/linux/', 'category':'Fedora Linux',
#               'options':"--exclude='**/core/' --exclude='**/extras/' --exclude='**/[7-8]'" },
#       { 'type':'directory', 'path':'/srv/rsync/pub/fedora/linux/', 'category':'Fedora Linux',
#               'excludes':['**/core/', '**/extras/', '**/[7-8]' ] },
	] '''

# manage-repo-redirects (mrr) repository definition
# this can be used to define a repository redirect
# for example from an upcoming release to the current development tree
mrr.repos = ''' {
#       'fedora-%s':'rawhide',
#       'fedora-debug-%s':'rawhide-debug',
#       'fedora-source-%s':'rawhide-source',
#       'updates-released-f%s':'rawhide',
#       'updates-released-debug-f%s':'rawhide-debug',
#       'updates-released-source-f%s':'rawhide-source',
#       'updates-testing-f%s':'rawhide',
#       'updates-testing-debug-f%s':'rawhide-debug',
#       'updates-testing-source-f%s':'rawhide-source'
        } '''


# This is where all of your settings go for your production environment
# Settings that are the same for both development and production
# (such as template engine, encodings, etc.) all go in 
# mirrormanager/config/app.cfg

# DATABASE
#
# pick the form for your database
# sqlobject.dburi="notrans_postgres://username@hostname/databasename"
# sqlobject.dburi="notrans_postgres://mirrormanager@127.0.0.1/mirrormanager"
# sqlobject.dburi="notrans_mysql://username:password@hostname:port/databasename"
# Note: MirrorManager doesn't use Transactions, so preceed with 'notrans_' as shown.
# Note: If you are using a database on another server, over a network socket,
#       and selinux is enabled, you will need to run:
#       sudo setsebool -P httpd_can_network_connect_db 1
sqlobject.dburi="notrans_sqlite:///var/lib/mirrormanager/sqlite.db"


# SERVER

# Some server parameters that you may want to tweak
# server.socket_port=8080
server.webpath='/mirrormanager'

# Enable the debug output at the end on pages.
# log_debug_info_filter.on = False

server.environment="production"
autoreload.package="mirrormanager"

# session_filter.on = True

# Set to True if you'd like to abort execution if a controller gets an
# unexpected parameter. False by default
tg.strict_parameters = True

##########################################33
# for non-Fedora Account System
identity.provider = 'sqlobjectcsrf'
identity.soprovider.model.user="mirrormanager.model.User"
identity.soprovider.model.group="mirrormanager.model.Group"
identity.soprovider.model.permission="mirrormanager.model.Permission"
visit.manager="sqlobject"
visit.soprovider.model = "mirrormanager.model.Visit"


# LOGGING
# Logging configuration generally follows the style of the standard
# Python logging module configuration. Note that when specifying
# log format messages, you need to use *() for formatting variables.
# Deployment independent log configuration is in mirrormanager/config/log.cfg
[logging]

[[loggers]]
[[[mirrormanager]]]
level='DEBUG'
qualname='mirrormanager'
handlers=['debug_out']

[[[allinfo]]]
level='INFO'
handlers=['debug_out']

[[[access]]]
level='INFO'
qualname='turbogears.access'
handlers=['access_out']
propagate=0
