[Unit]
Description=mirrormanager2
After=network-online.target
Wants=network-online.target

[Service]
Environment=MM2_CONFIG=/home/vagrant/mirrormanager2.cfg
Environment=PYTHONUNBUFFERED=1
Environment=FLASK_DEBUG=1
Environment=FLASK_APP=/vagrant/mirrormanager2/app.py
User=root
WorkingDirectory=/vagrant/
ExecStart=poetry run flask run -p 443 -h "0.0.0.0" --cert=/etc/pki/tls/certs/server.pem --key=/etc/pki/tls/private/server.key

[Install]
WantedBy=multi-user.target
