---
- name: Install dev packages
  dnf:
    name:
      - sqlite3
      - gcc
      - libpq-devel
      - python3
      - python3-devel
      - poetry
      # This breaks with Python 3 when installed from pip, it's terribly outdated.
      - python3-flask-xml-rpc
      - redhat-rpm-config
      # deps for running the tests
      - protobuf-compiler
    state: present

- name: Install python packages
  command:
    cmd: poetry install
    chdir: /vagrant

- name: Install the config file
  copy:
    src: mirrormanager2.cfg
    dest: /home/vagrant/mirrormanager2.cfg
    mode: 0644
    owner: vagrant
    group: vagrant

- name: Create and populate the database
  command: poetry run python devel/populate.py
  args:
    chdir: /vagrant/
    creates: /home/vagrant/mirrormanager2.sqlite
  environment:
    MM2_CONFIG: "/home/vagrant/mirrormanager2.cfg"
  become_user: vagrant

- name: Install the systemd unit file for mirrormanager2 service
  copy:
    src: mirrormanager2.service
    dest: /etc/systemd/system/mirrormanager2.service
    mode: 0644

- name: Start mirrormanager2 service using systemd
  systemd:
    state: started
    name: mirrormanager2
    daemon_reload: yes
    enabled: yes
