name: ci

on: [push, pull_request]

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        container: ["registry.centos.org/centos/centos:7", "registry.fedoraproject.org/fedora:latest", "registry.fedoraproject.org/fedora:rawhide"]

    container:
      image: ${{ matrix.container }}

    steps:
    - uses: actions/checkout@v2
    - name: Run Tests
      run: |
        tests/setup_test_container.sh ${{ matrix.container }}
        printenv
        ./runtests.sh -v
